<!DOCTYPE html>

<html> 
  <head>
    <title>Jovian Careers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <style>
#banner {
    width: 100%;
  height: 700px;
  object-fit: cover;
    
}   
      </style>
</head>
 <body>
     <img class = "img-fluid"  id ="banner" src="https://jovian-careers-website.madhusudhan24.repl.co/static/banner.jpg"
     >
   {% include 'nav.html' %}
   <div class = "container">
       <h1 class = "text-center mt-1 mb-3">
         {{company_name}} Careers</h1>
     <div class="row" style="margin-bottom:16px">
       <div class="col-md-6">
   <p class = "lead"> 
    Our Business Strategy and Project Development teams offer 
    opportunities within program and product management and 
    business development and analytics, looking to shape the way we 
    deliver for our customers. Our leaders think big, launching new 
    products and solutions aligned with our long-term objectives. 
    Our roles drive sustainability, corporate social responsibility, 
    and innovative initiatives within our logistics and transportation 
    teams and are critical in driving change and continuous improvement 
    as our operations continue to scale. 
    Whether you're an individual contributor or leading a team as 
    a people manager, the opportunity to learn and drive change is 
    second to none.
   </p>
       </div>
         <div class="d-none d-md-block col-md-6">
       <img src="/static/people.avif" style="height:320px; border-radius: 4px">
     </div>
     </div>
   <h2 class = "text-center mt-2 mb-4" >Job Openings </h2>
   <p>
     <div>
     {% for job in jobs%}
       {% include 'jobitem.html'  %}
       {% endfor %}
     </div>
   </p>
     <div class = "text-center">
   <a href="mailto:madhuhotmail2005@gmail.com?subject=Question%20about%20Job%20openings&body=My%20name%3A%20%3Cyour%20name%20here%3E%0D%0AMy%20Questions%3A%20%3Cyour%20questions%20here%3E" type="button" class="btn btn-primary btn-lg">Contact Us </a>
       <p class="mt-4">Copyright 2022, Jovian </p>
  {%include 'footer.html' %}
  </body> 
</html>